/* section {
    padding: 60px 0;
} */

body {
    margin: 0;
    padding: 0;
}

.card-img-top {
    height: 250px; /* Choose a fixed height */
    object-fit: cover; /* This ensures the image covers the area without distortion */
}